.box{
    width: 100%;
    height: 625px;
}
.contact{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    float: right;
    margin-top: 5%;
}
.contactButton{
    width: 20%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.contact input{
    width: 60%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.contact select{
    width: 20%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.fundoImg{
    width: 100%;
    height: 100%;
    background-image: url("../Imagens/haltere-620x330.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fundoCor{
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 89, 0.63);
}
 iframe{
    width: 500px;
    height: 350px; 
    margin-left: 7%;
 }