.boxF{
    width: 100%;
    height: 900px;
}
.contact{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    float: right;
}
.contactButton{
    width: 20%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.contact input{
    width: 60%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.contact select{
    width: 20%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 10px 10px;
}
.fundoCor{
    width: 100%;
    height: 100%;
    background-color: rgb(87, 87, 89);
}
.fundoImg{
    width: 100%;
    height: 100%;
    background-image: url("../Imagens/haltere-620x330.jpg");
    background-position: center;
}