body{
    font-family: "Candara", serif;
    margin: 0%;
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(32, 33, 35)!important;
    position: fixed!important;
}

.navbar h1{
    justify-content: center;
}
 .navbarText :hover{
    color:rgb(80, 49, 49);
    }
.logo {
    float: left;
}
.navbarText{
    color: white!important;
    float: right!important;
    transition: 0.5s;
}
.navbarButton {
    color:white!important;
}
.icons{
    color: white;  
    text-decoration: none;
}
